@import url(estilos.css);

* {
  font-family: var(--fuente);
  cursor: default;
}


.contenedor-formulario {
  min-height: 100vh;
  background: var(--color-fondo);
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.formulario {
  text-align: center;
  max-width: 450px;
  width: 100%;
  background-color: var(--color-fondo-segundario);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.formulario__titulo {

  font-weight: 600;
  margin-bottom: 5px;


}

.formulario__subtitulo {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 30px;
}


.formulario__grupo {
  margin-bottom: 20px;
  text-align: left;
}

.formulario__label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.formulario__input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 2px solid var(--color-input-borde);
  background-color: var(--color-input-fondo);
  outline: none;
  font-size: 0.95rem;
  color: #000;
  transition: 0.3s ease;
}

.formulario__input:focus {
  border-color: var(--color-principal-hover);
}

.formulario__boton {
  width: 150px;
  background-color: var(--color-boton);
  color: #fff;
  border: none;
  padding: 12px 0;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.formulario__boton:hover {
  background-color: var(--color-principal-hover);
}

.BodyAgregarCliente .fondo {
  position: fixed;

  left: 80.6rem;
  width: 100vh;
  height: 100%;
  z-index: 0;
  opacity: 0.3;

}