@import url(estilos.css);
@import url(panel.css);


* {
  font-family: var(--fuente);
  cursor: default;
}

.formulario-grande {
  display: flex;
  gap: 40px;
  height:auto;
  min-height: 70vh;
  align-items: center;
  justify-content: center;

}

.formulario {
  max-width: 450px;
  width: 100%;
  background-color: var(--color-fondo-segundario);
  padding: 20px;
  border-radius: 20px;
}

.formulario__titulo {

  font-weight: 600px;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--color-principal-login);
}

.formulario__subtitulo {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 30px;
}


.formulario__grupo {
  margin-bottom: 20px;
  text-align: left;
}

.formulario__label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.formulario__input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 2px solid var(--color-input-borde);
  background-color: var(--color-input-fondo);
  outline: none;
  font-size: 0.95rem;
  color: #000;
  transition: 0.3s ease;
}

.formulario__input:focus {
  border-color: var(--color-principal-hover);
}

.formulario__boton {
  width: 180px;
  background-color: var(--color-boton);
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
  
}
.contenedor-boton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;  
}

.formulario__boton:hover {
  background-color: var(--color-principal-hover);
}

.BodyAgregarCliente {
  background: var(--color-fondo);
  
}

