@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    height: 100vh;
    font-family: var(--fuente);
    background: var(--color-fondo);
    color: var(--color-texto-login);
}
.container-index {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Img-init  {
    width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    
}

/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 10px;      /* vertical */
  height: 10px;     /* horizontal */
}

/* Fondo del área por donde se mueve la barrita */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

/* La barrita (thumb) */
::-webkit-scrollbar-thumb {
  background: #4b72ff;
  border-radius: 10px;
}

/* Efecto hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f54d8;
}