@import url(estilos.css);
* {
  font-family: var(--fuente);
  cursor: default;

}

.container-login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login {
  width: 500px;
  margin: 100px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--color-fondo-segundario);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0, 4);
  gap: 37px;

  .logo-login {
    width: 120px;
    display: block;
    margin: auto;
    height: auto;
   
  }
}

  .pin-login {
    font-size: 16px;   
    align-self: flex-start;
    margin-left: 5px;
    font-weight: 500;

  }

  .texto-login {
    font-size: 28px;
    color: var(--color-letra1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-borde-input);
    padding-bottom: 5px;

  }

  .contraseña-login {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: var();
    outline: none;
    font-size: 16px;
    transition: 0.3s;


  }

  .boton {
    width: 100%;
    background-color: var(--color-boton);
    padding: 12px 20px;
    border:solid  black 1px ;
    border-radius:8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s;
    margin-top: 15px;
    text-align: center;
  }

  .boton:hover {
    background-color: var(--color-principal-hover);
  }

