@import url(/css/panel.css);

.contenedor-diagnostico {
  height: calc(100vh - 100px);
  overflow: auto;
}

.Contenedor-type-dignostico {
  width: 100%;
  max-width: 1200px;      /* SE ARREGLA EL DESBORDE */
  margin: 40px auto;
  color: var(--color-label);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* GRID RESPONSIVO */
.diagnostico-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  width: 100%;
}

.diagnosticos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px;
  width: 100%;
}

.cardx {
  background: var(--color-fondo-segundario);
  padding: 25px;
  border-radius: 16px;
  border-left: 6px solid var(--color-boton);
  box-shadow: 0 5px 14px rgba(0,0,0,0.25);
  transition: 0.3s ease;
  cursor: pointer;
}

.cardx h3 {
  color: var(--color-letra2);
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.cardx p {
  color: var(--color-letra3);
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.cardx:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.35);
  border-left-color: var(--color-principal-hover);
}
