@import url(estilos.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: radial-gradient(circle at center, #113344 0%, #06111c 70%, #060d33 100%);
    --color-fondo-login: #ffffff;
    --color-secundario-login: #ffffff;
    --color-principal-login: #00bcd4;
    --color-principal-hover: #0097a7;
    --color-texto-login: #000000;
    --color-texto-secundario-login: #504343;
    --color-borde-login: #555;
    --fuente: 'Nunito';
    --color-fondo-navbar: #0e2ecc44;
    --color-letra-navbar: rgb(255, 255, 255);
}

body {
    height: 100vh;

    font-family: var(--fuente);
    background: var(--color-fondo);
    color: var(--color-texto-login);
    margin: 0;
    padding: 0;

}

.container-index {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Img-init {
    width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
}