@import url(/css/estilos.css);
@import url(/Componentes-Layaut/Navbar.css);
.contenedor-diagnostico {
  height: calc(100vh - 100px);
  overflow: auto;
}

.opciones-servicio {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.titulo-opciones {
  color: var(--color-letra2);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--color-borde-input2);
  padding-bottom: 10px;
}

/* CONTENEDOR VERTICAL */
.lista-opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* SUB CARD */
.subcard {
  text-decoration: none;
  background: var(--color-fondo-terciario);
  padding: 20px;
  border-radius: 15px;
  border-left: 6px solid var(--color-boton);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.subcard h3 {
  margin-bottom: 6px;
  color: var(--color-letra2);
  font-size: 1.2rem;
}

.subcard p {
  color: var(--color-letra3);
  font-size: 0.95rem;
}

/* HOVER */
.subcard:hover {
  transform: translateY(-5px);
  border-left-color: var(--color-principal-hover);
  box-shadow: 0 8px 18px rgba(0,0,0,0.35);
}

/* RESPONSIVE*/
@media (max-width: 600px) {

  .opciones-servicio {
    padding: 10px;
  }

  .titulo-opciones {
    font-size: 1.5rem;
  }

  .subcard {
    padding: 15px;
  }

}